.course-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

mat-card {
    margin: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

mat-card-header {
    background-color: #ac5c5c;
    color: white;
}

mat-card-title {
    font-weight: bold;
    font-size: 24px;
}

mat-card-content {
    font-size: 18px;
}

.course-details div {
    font-size: 16px;
    color: #555;
}

.gray-button {
    background-color: #9e9e9e !important;
    margin-left: 20px;
    color: white;

}