<mat-card *ngIf="course$ | async as course; else loading">
    <mat-card-header>
        <mat-card-title>Detalles del Curso</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="course-detail">
            <div>
                <strong>ID:</strong> {{ course.id }}
            </div>
            <div>
                <strong>Título:</strong> {{ course.title }}
            </div>
            <div>
                <strong>Descripción:</strong> {{ course.description }}
            </div>
        </div>
    </mat-card-content>
</mat-card>

<button mat-flat-button class="gray-button" routerLink="/dashboard">Volver</button>



<ng-template #loading>
    <p>Cargando detalles del curso...</p>
</ng-template>