<mat-toolbar class="navbar-container">
    <div class="d-flex justify-content-between align-items-center w-100">
        <button mat-icon-button (click)="drawer.toggle()" class="example-icon"
            aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Gestión Alumnos</span>
        <span class="example-spacer"></span>
        <div *ngIf="authUser$ |async; let user">{{user.name + '-' + user.role}}</div>
    </div>

</mat-toolbar>




<!--SIDEBAR-->
<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <app-nav-menu />
    </mat-drawer>

    <div class="example-sidenav-content">
        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>